<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Model Test</title>
    </head>
    <body>
        <h1>Simple Database</h1>
        {% if user %}
            <p>Hallo {{user.name}}</p>
            <p>Email: {{user.email}}</p>
        {% else %}
            <form action="/login" method="post">
                <input type="text" name="user-name" placeholder="Name eingeben:">
                <br>
                <input type="email" name="user-email" placeholder="Email eingeben:">
                <br>
                <input type="text" name="user-password" placeholder="Passwort eingeben:">
                <br>
                <button type="submit">Submit</button>
            </form>
        {% endif %}
    </body>
</html>